@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poiret+One&display=swap");

/* imported font families: "Poiret One", cursive; font-family: $contentFont;    */

// variable
$mainAccent: #6376d3;
$headingFont:"Poiret One",cursive;
$contentFont:"Josefin sans" ;

@mixin heading($special){
  font-family: "Poiret One", cursive;
  color: $special;
  text-align: center;
  margin-top: 0px;
  font-size: 3em;
}
